.pagination {
  display: flex;
  justify-content: center;
  &__list {
    .item {
      padding: 10px 10px;
      border: 1px black solid;

      margin: 0 2px;
    }
    display: flex;
    list-style: none;
    &::after {
      padding: 10px 10px;
      content: '>';
      border: 1px black solid;
    }
    &::before {
      content: '<';
      padding: 10px 10px;
      border: 1px black solid;
    }
  }
}
